@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --purple-color: #8d27ae;
  --pink-color: #ee92bc;
  --grey-color: #f3f3f3;
  --white-color: #fff;
  --black-color: #010101;
  --light-black-color: #717171;
  --transition: all 300ms ease-in-out;

  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainTransition: all 0.3s linear;
  --mainWhite: #fff;
  --mainSpacing: 3px;
  --darkGrey: #cfcfcf;
  --mainBlack: #222;
  --primaryColor: #af9a7d;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.7;
  font-family: "Poppins", sans-serif;
}

.section1 {
  padding-top: 4rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 30px;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.product {
  margin-bottom: 1rem;
  width: 100%;
  background-color: var(--white-color);
  height: 300px;
}

.border {
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
  box-shadow: 1px 2px 9px #cfcece;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  border-color: #e4e4e4;
  height: 300px;
  padding: 20px;
}
.border_category {
  margin-left: 15px;
  margin-right: 15px;
}
.border_style {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.border_style_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.img {
  max-height: 160px;
}
.img:hover {
  transform: scale(1.1);
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.div_btn {
  position: absolute;
  top: 1.5rem;
  right: 2.75rem;
  padding: 0.5rem;
  background-color: #eaac8b;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.div_btn:hover {
  opacity: 1;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  right: 1.25rem;
}
.plus {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.div_plus {
  display: flex;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: white;
}
.eye {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.15rem;
  height: 3.1rem;
  background-color: #ffffff;
  box-shadow: (0 20px 13px rgba(0, 0, 0, 0.03));
}
.h2 {
  margin-bottom: 0.25rem;
  font-weight: 150;
  font-size: 13px;
}
.border_2 {
  padding-left: 23px;
  text-decoration: "none";
  color: black;
}

.category {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
  text-transform: capitalize;
}
.price {
  font-weight: 600;
  font-size: 13px;
}

.side_bar {
  position: fixed;
  top: 0;
  z-index: 20;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  max-width: 30vw;
  right: -100%;
}
@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
.side_bar_open {
  right: 0;
}
.side_bar_close {
  right: -100%;
}
.bag {
  font-size: 3.5rem;
  line-height: 2rem;
  margin-right: 43px;
}
.cursor {
  display: flex;
  position: relative;
  cursor: pointer;
}
.forward {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.forward_icon {
  font-size: 1.5rem;
  line-height: 2rem;
}
.side {
  display: flex;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
}
.shopping_bag {
  font-size: 1.475rem;
  line-height: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}
.header_2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: none;
}
.header_1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.img_cart {
  max-width: 80px;
}
.cartItem {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  width: 100%;
  height: 150px;
}
.box_cartItem {
  display: flex;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  column-gap: 1rem;
  border-bottom-width: 1px;
  border-color: #c3c3c5;
  width: 100%;
  font-weight: 300;
  color: #6b7280;
}
@media (min-width: 1024px) {
  .box_cartItem {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.title_item {
  font-size: 0.975rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 240px;
  text-decoration: none;
}
.title_item:hover {
  text-decoration: underline;
}
.close_icon {
  color: #6b7280;
}
.close_icon:hover {
  color: #ef4444;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.inner_box {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: space-between;
}
.middle_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.box_icon {
  font-size: 1.25rem;
  line-height: 1.75rem;
  cursor: pointer;
}
.box_info {
  display: flex;
  column-gap: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  height: 36px;
}
.quantity {
  display: flex;
  flex: 1 1 0%;
  align-items: center;
  border-width: 1px;
  height: 100%;
  font-weight: 500;
  max-width: 100px;
}
.minus_btn {
  flex: 1 1 0%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  height: 100%;
}
.amount {
  font-size: 12px;
  display: flex;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.add_btn {
  flex: 1 1 0%;
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.final_price {
  display: flex;
  flex: 1 1 0%;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
}
.initial_price {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-around;
  align-items: center;
}
.trash {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #ffffff;
  background-color: #ef4444;
  cursor: pointer;
}
.bottom_side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.box_total {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  flex-direction: column;
  row-gap: 0.75rem;
}
.total_price {
  font-weight: 600;
  text-transform: uppercase;
}
.span_total {
  margin-right: 0.5rem;
}
.item_amount {
  position: absolute;
  right: -0.5rem;
  bottom: 1.3rem;
  background-color: #ef4444;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  color: #ffffff;
  color: 12px;
  width: 18px;
  height: 18px;
  margin-right: 35px;
}
.logo {
  width: 40px;
  margin-left: 22px;
}
.box_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_cart_item {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;
  row-gap: 0.5rem;
  border-bottom-width: 1px;
  height: 520px;
}

@media (min-width: 1024px) {
  .box_cart_item {
    height: 640px;
  }
}
.hero {
  background-color: #eaac8b;
  height: 460px;
  background-image: url("../public/E_commerce_photos/bcg_hero.svg");
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero_container {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_img {
  display: none;
}
@media (min-width: 1024px) {
  .hero_img {
    display: block;
  }
}
.h1 {
  margin-bottom: 1rem;
  font-weight: 300;
  color: 70px;
  line-height: 1.1;
}
.womens {
  font-weight: 600;
}
.new_trend {
  display: flex;
  align-items: center;
  font-weight: 600;
  text-transform: uppercase;
}
.trend {
  width: 2.5rem;
  height: 2px;
  margin-right: 0.75rem;
  background-color: #ef4444;
}
.discover {
  align-self: flex-start;
  border-bottom-width: 2px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.view_cart {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  background-color: #e5e7eb;
  color: black;
}
.checkout {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  background-color: #e5e7eb;
  color: white;
  background-color: black;
}
.footer {
  background-color: gray;
}
.copyright {
  text-align: center;
  color: #ffffff;
}
.div_footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.box_details {
  position: sticky;
  margin-top: 20px;
  top: 0;
  left: 20px;
  width: 96vw;
  height: 90vh;

  box-shadow: 1px 2px 9px #999999;
  z-index: 5;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .box_details {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}
.img_txt_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .img_txt_wrapper {
    flex-direction: row;
  }
}
.sliderStyles {
  height: 280px;
  width: 580px;
  margin-top: 50px;
  position: relative;
  box-shadow: 1px 2px 9px #f1b3c0;
  margin-left: 20px;
  padding: 1em;
  border-radius: 10px;
}

.right_button {
  position: absolute;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  top: 0;
  right: 0;
  left: 100;
  bottom: 0;
  width: 5%;
  height: 100%;
  z-index: 9;
}
.left_button {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 5%;
  z-index: 9;

  border-radius: 10px;
}
.previous {
  position: absolute;
  top: 40%;
  background: none;
  outline: none;
  border: none;
  left: 0%;
  font-size: 30px;
  color: white;
  z-index: 10;
  cursor: pointer;
  transform: translate(0, -50%);
  color: black;
}
.next {
  position: absolute;
  background: none;
  outline: none;
  border: none;
  top: 40%;
  right: 0;
  font-size: 30px;
  z-index: 10;
  cursor: pointer;
  color: white;
  transform: translate(0, -50%);
  color: black;
}
.dotContainerStyles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dotStyle {
  cursor: pointer;
  font-size: 10px;
}
.team {
  display: inline-block;
  margin-top: 50px;
  padding: 1rem 0;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;
  font-size: 2.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  margin-left: 620px;
}
.border_slider {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.content {
  flex: 1 1 40rem;
}
.content p {
  color: #222;
  font-size: 1.4rem;
  line-height: 2;
  padding-top: 19rem 0;
  margin-left: 65px;
  margin-right: 65px;
}
.search {
  margin-top: 15px;
  margin-left: 530px;
  justify-self: center;
  border: none;
  padding: 1.1rem 3.4rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  width: 40rem;
  transition: all 0.3s;
  color: black;

  /* background-color: var(--color-background-900); */
  background-color: #dbd9d8;
}

.search::placeholder {
  color: var(--color-text-dark);
}

.search:focus {
  outline: none;
  box-shadow: 0 2.4rem 2.4rem rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.image_details {
  max-width: 130px;
  padding-left: 18px;
}
@media (min-width: 1024px) {
  .image_details {
    max-width: 18rem;
  }
}

.div_details {
  display: flex;
  margin-bottom: 2rem;
  flex: 1 1 0%;
}
.div_text {
  flex: 1 1 0%;
  text-align: center;
  margin-right: 100px;
}
.title_details {
  margin-bottom: 0.5rem;
  color: 26px;
  font-weight: 500;
  max-width: 450px;
}
.price_details {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: #ef4444;
}
.description_details {
  margin-bottom: 2rem;
}
.button_details {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #ffffff;
}
.loader {
  text-align: center;
  font-size: 35px;
}
.close {
  position: absolute;
  top: 940px;
  right: 14px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 40px;
  color: inherit;
}

.close:hover {
  color: #7950f2;
}
.starRating {
  margin-left: 16px;
  margin-bottom: 9px;
}
/*services css*/
.services {
  padding: 5rem 0;
  margin-top: 20px;
}
.services {
  background: var(--darkGrey);
  text-align: center;
}

.services .services-name {
  text-align: center;
  font-size: 3.2rem;
}
.services-center {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

.service span {
  display: inline-block;
  color: var(--primaryColor);
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: var(--mainSpacing);
}
.services p {
  width: 80%;
  margin: 0 auto;
}
.error {
  text-align: center;
  margin-left: 20px;
  font-size: 18px;
}
